{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{%static 'author/css/styles3.css'%}">
    <title>auto</title>
  </head>
  <body>

    <div class="forma">
      <form method="post" name="main">
        {%csrf_token%}
        <h1>Регистрация</h1>
        <div>
          <input type="text" name="nameIn" value="" placeholder="Имя">
          <p id="one">Недопустимые символы</p>
        </div>

        <div>
          <input type="text" name="surename" value="" placeholder="Фамилия">
          <p id="two">Недопустимые символы</p>
        </div>

        <div>
          <input type="email" name="email" value="" placeholder="Почта">
          <p id="three">Неверный формат почты</p>
        </div>

        <div>
          <input type="text" name="username" value="" placeholder="Никнейм">
          <p>f</p>
        </div>

        <div>
          <input type="password" name="password1" value="" placeholder="Пароль">
          <ul>
            <li id="p1">Должна быть строчная буква</li>
            <li id="p2">Должна быть заглавная буква</li>
            <li id="p3">Должная быть цифра</li>
          </ul>
        </div>
        <input type="password" name="password2" value="" placeholder="Повторите пароль">

        <a href="{%url 'home'%}">
          <button type="submit" name="button" id="b"><span>Зарегистрироваться</span></button>
        </a>        
        <br>
        <a href="{%url 'login'%}">Войти</a>
        <script src="{%static 'author/js/script2.js'%}"></script>

      </form>
    </div>

  </body>
</html>
