{% extends 'main/layout.html' %}

{% block header %}
<header>
  <h1>Your Universes</h1>
</header>
{% endblock %}

{% block content %}
  <div class="field">
    {% for i in 'x'|rjust:10 %}
      {% for el in cards %}

      <div>
        <a href="/description/{{el.id}}">
          <div class="card">
            <img class="card_image" src="{{el.image.url}}" alt="Not found:(">
            <div class="line">
              <h2>{{el.title}}</h2>
              <h3>{{el.id}} объектов</h3>
            </div>
          </div>
        </a>
      </div>

      {%endfor%}    
    {% endfor %}
    </div>
{% endblock%}

