{% extends 'main/layout.html' %}
{% load static %}

{% block content %}      
<div class="annotation">
  <div>
    <img src="{{object.image.url}}" alt="Not found" class="photo">
  </div>

  <div class="">
    <h1>{{object.title}}</h1>
    <p>{{object.description}}</p>
  </div>

</div>
<div class="title"><h2>Трейлер</h2></div>
<div class="block-iframe">
  <iframe width="560" height="315" src="{{object.video}}" frameborder="0" allowfullscreen></iframe>
</div>
<div class="title"><h2>Игры</h2></div>
<div>  
  <ul>
    <li>fksdfksd</li>
    <li>dfsdfdsf</li>
    <li>fsdfsdflskfl</li>
    <li>sdfakfasfkmskfk</li>
  </ul>
  <br>
</div>
<div class="title"><h2>Книги и комиксы</h2></div>
<div>  
  <ul>
    <li>fksdfksd</li>
    <li>dfsdfdsf</li>
    <li>fsdfsdflskfl</li>
    <li>sdfakfasfkmskfk</li>
  </ul>
  <br>
</div>
<div class="title"><h2>Фильмы</h2></div>
<div>  
  <ul>
    <li>fksdfksd</li>
    <li>dfsdfdsf</li>
    <li>fsdfsdflskfl</li>
    <li>sdfakfasfkmskfk</li>
  </ul>
  <br>
</div>
{% endblock%}

{% block comments%}
<div>
  {%if user.is_authenticated%}
    <form class="form_comments" method="post" name="main">
      {%csrf_token%}     
      <br>
      <input type="hidden" name="author" id="name" value="{{user}}">
      <input type="hidden" name="cat" value="{{ object.id }}">
      <textarea class="line_form" name="text" cols="100" rows="10" placeholder="Ваш комментарий"></textarea>
      <br>
      <button type="submit">Оставить отзыв</button>
      {{error}}  
    </form>
  {%else%}
    <span>Чтобы оставлять отзывы необходимо авторизоваться</span>
  {%endif%}  
  
</div>
<div>
{% for element in comments%}
  <br>
  <br>
  {{element.text}}
  {{element.author}}
  {{element.time}}
{%endfor%}
</div>
  
{% endblock%}


