@import url("zero.css");

.photo{
  height: 400px;
  width: 300px;
  object-fit: cover;
  margin: 20px

}

header h1{
font-family: "Kode Mono", monospace;
font-weight: 700;
font-style: normal;
font-size: 75px;
text-align: left;
}

h1{
font-family: "Calibri", monospace;
font-weight: 700;
font-style: normal;
font-size: 72px;
text-align: center;
margin-top: 15px;
}

h2{
  font-size: 35px;
  text-align: center;
  font-family: "Arial", sans-serif;
  color: black;
}

header{
  padding: 30px 15px 30px 15px;
  background: cyan;
}

nav{
  display: flex;
  background: green;
  padding: 10px;
  position: sticky;
  position: sticky; top: 0;
  z-index: 999;

}

footer{
  background-color: black;
  height: 80px;
  color: white;
}

.field{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: yellow;
}


.card{
  background: red;
  height: 350px;
  width: 250px;
  border: 2px solid;
  margin: 15px 10px;
  color: black;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.7);
  border-radius: 4px;

}

.card:hover{
  transform: scale(1.08);
  border-color: white;
  box-shadow: 10px 10px 2px rgba(0, 0, 0, 0.5);
}

.card_image{
  height: 250px;
  width: 210px;
  object-fit: cover;
  margin: 20px 20px 10px 20px;
  border-radius: 13px;
}

h3{
  text-align: center;
  color: black;
}

.line{
  background: blue;
}


.menu_button{
  display: flex;
  border: 2px solid;
  border-color: black;
  border-radius: 5px;
  padding: 5px;
  background: white;
  font-size: 17px;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
  width: 75px;
  height: 50px;
  color: black;
}

.profile{
  height: 50px;
  width: 50px;
  border-radius: 50px;
  object-fit: cover;
}

.menu_profile{
  align-self: flex-end;
  margin-left: auto;
}

.annotation{
  display: flex;
}

ul li{
  list-style-type: circle;
  margin: 0px 50px 0px 50px;

}

.block_news{
  margin-top: 20px;
}

.vid{
  margin: 15px;
}